.conteine{
    min-height: 100vh;
    background-color: #000; 

}


figure{
 background-color: #000; 
  display: grid;
  grid-template-columns: repeat(4, 1fr); 
  gap: 1rem; 
  width: 100vw;
    margin-left: 40px;
}

.filtros {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
  justify-content: center;

}

.filtros input,
.filtros select {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid red;
}
